@import url("go.css"/*tpa=http://www.google.com/css/go.css*/);

@media screen, projection {
/* @@ Special rules */
img{border:none}
.column1 { float:left; margin-right:.5em; width:120px;}
.column2 { float:left; margin-bottom:.5em; width:75%; padding-top:5px; padding-left:5px; }
.column2_2 { float:left; width:45%; padding-top:5px; }
.column3 { float:right; margin-bottom:.5em; width:45%; padding-top:5px; margin-right:4em;}
.col1_img{float:left; margin-right:1em; width:120px;}
.col2_txt{}
.indent { margin-left:75px;}
.left { float:left; }
.inline { padding:0 10px 5px 0; }
.column { float:left; margin-bottom:0.5em; margin-top:1em }
.column_next { float:right; margin-bottom:.5em; width:45%; margin-top:1em;}
.one { width:47%; margin-right:2%; }
.two { width:48%; }
.button_pad{ margin-top:10px;}
th,td,tr{padding-right:.25em;vertical-align:top}
table, img{border:none}
.style9 {font-size: 1em;font-weight: bold;}
.productTitle {margin-top: 1em;}
.productImage {margin-right: 7px; margin-bottom: 3px;}
.productDesc {margin-top: 10px;}
.header2 {font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; color: #000; margin-top:1em; }
h3{border-bottom:1px solid #CCCCCC;color:#000;}
.container{ width:100%; margin-bottom:1.5em}
.column3 { float:left; margin-bottom:0.5em;}
.one1 { width:31%; margin-right:1%; }
.two2 {  width:31%; margin-right:1%; margin-left:2%;}
.three3 { width:31%; margin-right:1%;margin-left:2%;}
.indent2 { margin-left:35px; margin-top:0; }
.redtext {color:#FF0000;}
.tags-feature { margin: 0 0 0 20px; }
#promo {
	background:#E0ECF7 none repeat scroll 0 0;
	border:1px solid #A6BFC9;
	padding:12px 10px 10px;
	margin-left:3px;
}
#main_img {
	width:120px;
	float:left;
}
#txt_box {
	margin-left:150px;
	width:450px;
}
.style9 {
	font-size: 1em;
	font-weight: bold;
}
div.button{width:121px; height:35px; float:right; margin:0px; padding:10px 10px 10px 10px;border:1px solid #CCCCCC; background-color:#CADEF4}

}
