span.g-flag, .g-flag span, div.g-flag, .g-flag div {
  display:inline-block;
  width: 50px;
  height: 33px;
  background-image: url("sprite_flag-50.png"/*tpa=http://www.google.com/images/flags/sprite_flag-50.png*/);
  background-position: 50px 0;
  background-repeat: no-repeat;
  background-color: #eee;
  text-decoration: none;
}

.g-flag.abw, .g-flag .abw, .g-flag.aw, .g-flag .aw {background-position: 0 0;}
.g-flag.afg, .g-flag .afg, .g-flag.af, .g-flag .af {background-position: 0 -34px;}
.g-flag.ago, .g-flag .ago, .g-flag.ao, .g-flag .ao {background-position: 0 -68px;}
.g-flag.aia, .g-flag .aia, .g-flag.ai, .g-flag .ai {background-position: 0 -102px;}
.g-flag.alb, .g-flag .alb, .g-flag.al, .g-flag .al {background-position: 0 -136px;}
.g-flag.and, .g-flag .and, .g-flag.ad, .g-flag .ad {background-position: 0 -170px;}
.g-flag.are, .g-flag .are, .g-flag.ae, .g-flag .ae {background-position: 0 -204px;}
.g-flag.arg, .g-flag .arg, .g-flag.ar, .g-flag .ar {background-position: 0 -238px;}
.g-flag.arm, .g-flag .arm, .g-flag.am, .g-flag .am {background-position: 0 -272px;}
.g-flag.asm, .g-flag .asm, .g-flag.as, .g-flag .as {background-position: 0 -306px;}
.g-flag.ata, .g-flag .ata, .g-flag.aq, .g-flag .aq {background-position: 0 -340px;}
.g-flag.atg, .g-flag .atg, .g-flag.ag, .g-flag .ag {background-position: 0 -374px;}
.g-flag.aus, .g-flag .aus, .g-flag.au, .g-flag .au {background-position: 0 -408px;}
.g-flag.aut, .g-flag .aut, .g-flag.at, .g-flag .at {background-position: 0 -442px;}
.g-flag.aze, .g-flag .aze, .g-flag.az, .g-flag .az {background-position: 0 -476px;}
.g-flag.bdi, .g-flag .bdi, .g-flag.bi, .g-flag .bi {background-position: 0 -510px;}
.g-flag.bel, .g-flag .bel, .g-flag.be, .g-flag .be {background-position: 0 -544px;}
.g-flag.ben, .g-flag .ben, .g-flag.bj, .g-flag .bj {background-position: 0 -578px;}
.g-flag.bfa, .g-flag .bfa, .g-flag.bf, .g-flag .bf {background-position: 0 -612px;}
.g-flag.bgd, .g-flag .bgd, .g-flag.bd, .g-flag .bd {background-position: 0 -646px;}
.g-flag.bgr, .g-flag .bgr, .g-flag.bg, .g-flag .bg {background-position: 0 -680px;}
.g-flag.bhr, .g-flag .bhr, .g-flag.bh, .g-flag .bh {background-position: 0 -714px;}
.g-flag.bhs, .g-flag .bhs, .g-flag.bs, .g-flag .bs {background-position: 0 -748px;}
.g-flag.bih, .g-flag .bih, .g-flag.ba, .g-flag .ba {background-position: 0 -782px;}
.g-flag.blr, .g-flag .blr, .g-flag.by, .g-flag .by {background-position: 0 -816px;}
.g-flag.blz, .g-flag .blz, .g-flag.bz, .g-flag .bz {background-position: 0 -850px;}
.g-flag.bol, .g-flag .bol, .g-flag.bo, .g-flag .bo {background-position: 0 -884px;}
.g-flag.bra, .g-flag .bra, .g-flag.br, .g-flag .br {background-position: 0 -918px;}
.g-flag.brb, .g-flag .brb, .g-flag.bb, .g-flag .bb {background-position: 0 -952px;}
.g-flag.brn, .g-flag .brn, .g-flag.bn, .g-flag .bn {background-position: 0 -986px;}
.g-flag.btn, .g-flag .btn, .g-flag.bt, .g-flag .bt {background-position: 0 -1020px;}
.g-flag.bwa, .g-flag .bwa, .g-flag.bw, .g-flag .bw {background-position: 0 -1054px;}
.g-flag.caf, .g-flag .caf, .g-flag.cf, .g-flag .cf {background-position: 0 -1088px;}
.g-flag.can, .g-flag .can, .g-flag.ca, .g-flag .ca {background-position: 0 -1122px;}
.g-flag.cat, .g-flag .cat, .g-flag.e1, .g-flag .e1 {background-position: 0 -1156px;}
.g-flag.che, .g-flag .che, .g-flag.ch, .g-flag .ch {background-position: 0 -1190px;}
.g-flag.chl, .g-flag .chl, .g-flag.cl, .g-flag .cl {background-position: 0 -1224px;}
.g-flag.chn, .g-flag .chn, .g-flag.cn, .g-flag .cn {background-position: 0 -1258px;}
.g-flag.civ, .g-flag .civ, .g-flag.ci, .g-flag .ci {background-position: 0 -1292px;}
.g-flag.cmr, .g-flag .cmr, .g-flag.cm, .g-flag .cm {background-position: 0 -1326px;}
.g-flag.cod, .g-flag .cod, .g-flag.cd, .g-flag .cd {background-position: 0 -1360px;}
.g-flag.cog, .g-flag .cog, .g-flag.cg, .g-flag .cg {background-position: 0 -1394px;}
.g-flag.cok, .g-flag .cok, .g-flag.ck, .g-flag .ck {background-position: 0 -1428px;}
.g-flag.col, .g-flag .col, .g-flag.co, .g-flag .co {background-position: 0 -1462px;}
.g-flag.com, .g-flag .com, .g-flag.km, .g-flag .km {background-position: 0 -1496px;}
.g-flag.cpv, .g-flag .cpv, .g-flag.cv, .g-flag .cv {background-position: 0 -1530px;}
.g-flag.cri, .g-flag .cri, .g-flag.cr, .g-flag .cr {background-position: 0 -1564px;}
.g-flag.cub, .g-flag .cub, .g-flag.cu, .g-flag .cu {background-position: 0 -1598px;}
.g-flag.cyp, .g-flag .cyp, .g-flag.cy, .g-flag .cy {background-position: 0 -1632px;}
.g-flag.cze, .g-flag .cze, .g-flag.cz, .g-flag .cz {background-position: 0 -1666px;}
.g-flag.deu, .g-flag .deu, .g-flag.de, .g-flag .de {background-position: 0 -1700px;}
.g-flag.dji, .g-flag .dji, .g-flag.dj, .g-flag .dj {background-position: 0 -1734px;}
.g-flag.dma, .g-flag .dma, .g-flag.dm, .g-flag .dm {background-position: 0 -1768px;}
.g-flag.dnk, .g-flag .dnk, .g-flag.dk, .g-flag .dk {background-position: 0 -1802px;}
.g-flag.dom, .g-flag .dom, .g-flag.do, .g-flag .do {background-position: 0 -1836px;}
.g-flag.dza, .g-flag .dza, .g-flag.dz, .g-flag .dz {background-position: 0 -1870px;}
.g-flag.ecu, .g-flag .ecu, .g-flag.ec, .g-flag .ec {background-position: 0 -1904px;}
.g-flag.egy, .g-flag .egy, .g-flag.eg, .g-flag .eg {background-position: 0 -1938px;}
.g-flag.eng, .g-flag .eng, .g-flag.u1, .g-flag .u1 {background-position: 0 -1972px;}
.g-flag.eri, .g-flag .eri, .g-flag.er, .g-flag .er {background-position: -51px 0;}
.g-flag.esh, .g-flag .esh, .g-flag.eh, .g-flag .eh {background-position: -51px -34px;}
.g-flag.esp, .g-flag .esp, .g-flag.es, .g-flag .es {background-position: -51px -68px;}
.g-flag.est, .g-flag .est, .g-flag.ee, .g-flag .ee {background-position: -51px -102px;}
.g-flag.eth, .g-flag .eth, .g-flag.et, .g-flag .et {background-position: -51px -136px;}
.g-flag.eur, .g-flag .eur, .g-flag.eu, .g-flag .eu {background-position: -51px -170px;}
.g-flag.fin, .g-flag .fin, .g-flag.fi, .g-flag .fi {background-position: -51px -204px;}
.g-flag.fji, .g-flag .fji, .g-flag.fj, .g-flag .fj {background-position: -51px -238px;}
.g-flag.fra, .g-flag .fra, .g-flag.fr, .g-flag .fr {background-position: -51px -272px;}
.g-flag.fro, .g-flag .fro, .g-flag.fo, .g-flag .fo {background-position: -51px -306px;}
.g-flag.fsm, .g-flag .fsm, .g-flag.fm, .g-flag .fm {background-position: -51px -340px;}
.g-flag.gab, .g-flag .gab, .g-flag.ga, .g-flag .ga {background-position: -51px -374px;}
.g-flag.gbr, .g-flag .gbr, .g-flag.gb, .g-flag .gb .g-flag.uk, .g-flag .uk {background-position: -51px -408px;}
.g-flag.geo, .g-flag .geo, .g-flag.ge, .g-flag .ge {background-position: -51px -442px;}
.g-flag.ggy, .g-flag .ggy, .g-flag.gg, .g-flag .gg {background-position: -51px -476px;}
.g-flag.gha, .g-flag .gha, .g-flag.gh, .g-flag .gh {background-position: -51px -510px;}
.g-flag.gib, .g-flag .gib, .g-flag.gi, .g-flag .gi {background-position: -51px -544px;}
.g-flag.gin, .g-flag .gin, .g-flag.gn, .g-flag .gn {background-position: -51px -578px;}
.g-flag.glp, .g-flag .glp, .g-flag.gp, .g-flag .gp {background-position: -51px -612px;}
.g-flag.gmb, .g-flag .gmb, .g-flag.gm, .g-flag .gm {background-position: -51px -646px;}
.g-flag.gnb, .g-flag .gnb, .g-flag.gw, .g-flag .gw {background-position: -51px -680px;}
.g-flag.gnq, .g-flag .gnq, .g-flag.gq, .g-flag .gq {background-position: -51px -714px;}
.g-flag.grc, .g-flag .grc, .g-flag.gr, .g-flag .gr {background-position: -51px -748px;}
.g-flag.grd, .g-flag .grd, .g-flag.gd, .g-flag .gd {background-position: -51px -782px;}
.g-flag.grl, .g-flag .grl, .g-flag.gl, .g-flag .gl {background-position: -51px -816px;}
.g-flag.gtm, .g-flag .gtm, .g-flag.gt, .g-flag .gt {background-position: -51px -850px;}
.g-flag.guy, .g-flag .guy, .g-flag.gy, .g-flag .gy {background-position: -51px -884px;}
.g-flag.hkg, .g-flag .hkg, .g-flag.hk, .g-flag .hk {background-position: -51px -918px;}
.g-flag.hnd, .g-flag .hnd, .g-flag.hn, .g-flag .hn {background-position: -51px -952px;}
.g-flag.hrv, .g-flag .hrv, .g-flag.hr, .g-flag .hr {background-position: -51px -986px;}
.g-flag.hti, .g-flag .hti, .g-flag.ht, .g-flag .ht {background-position: -51px -1020px;}
.g-flag.hun, .g-flag .hun, .g-flag.hu, .g-flag .hu {background-position: -51px -1054px;}
.g-flag.idn, .g-flag .idn, .g-flag.id, .g-flag .id {background-position: -51px -1088px;}
.g-flag.imn, .g-flag .imn, .g-flag.im, .g-flag .im {background-position: -51px -1122px;}
.g-flag.ind, .g-flag .ind, .g-flag.in, .g-flag .in {background-position: -51px -1156px;}
.g-flag.irl, .g-flag .irl, .g-flag.ie, .g-flag .ie {background-position: -51px -1190px;}
.g-flag.irn, .g-flag .irn, .g-flag.ir, .g-flag .ir {background-position: -51px -1224px;}
.g-flag.irq, .g-flag .irq, .g-flag.iq, .g-flag .iq {background-position: -51px -1258px;}
.g-flag.isl, .g-flag .isl, .g-flag.is, .g-flag .is {background-position: -51px -1292px;}
.g-flag.isr, .g-flag .isr, .g-flag.il, .g-flag .il {background-position: -51px -1326px;}
.g-flag.ita, .g-flag .ita, .g-flag.it, .g-flag .it {background-position: -51px -1360px;}
.g-flag.jam, .g-flag .jam, .g-flag.jm, .g-flag .jm {background-position: -51px -1394px;}
.g-flag.jey, .g-flag .jey, .g-flag.je, .g-flag .je {background-position: -51px -1428px;}
.g-flag.jor, .g-flag .jor, .g-flag.jo, .g-flag .jo {background-position: -51px -1462px;}
.g-flag.jpn, .g-flag .jpn, .g-flag.jp, .g-flag .jp {background-position: -51px -1496px;}
.g-flag.kaz, .g-flag .kaz, .g-flag.kz, .g-flag .kz {background-position: -51px -1530px;}
.g-flag.ken, .g-flag .ken, .g-flag.ke, .g-flag .ke {background-position: -51px -1564px;}
.g-flag.kgz, .g-flag .kgz, .g-flag.kg, .g-flag .kg {background-position: -51px -1598px;}
.g-flag.khm, .g-flag .khm, .g-flag.kh, .g-flag .kh {background-position: -51px -1632px;}
.g-flag.kir, .g-flag .kir, .g-flag.ki, .g-flag .ki {background-position: -51px -1666px;}
.g-flag.kna, .g-flag .kna, .g-flag.kn, .g-flag .kn {background-position: -51px -1700px;}
.g-flag.kor, .g-flag .kor, .g-flag.kr, .g-flag .kr {background-position: -51px -1734px;}
.g-flag.kwt, .g-flag .kwt, .g-flag.kw, .g-flag .kw {background-position: -51px -1768px;}
.g-flag.lao, .g-flag .lao, .g-flag.la, .g-flag .la {background-position: -51px -1802px;}
.g-flag.lbn, .g-flag .lbn, .g-flag.lb, .g-flag .lb {background-position: -51px -1836px;}
.g-flag.lbr, .g-flag .lbr, .g-flag.lr, .g-flag .lr {background-position: -51px -1870px;}
.g-flag.lby, .g-flag .lby, .g-flag.ly, .g-flag .ly {background-position: -51px -1904px;}
.g-flag.lca, .g-flag .lca, .g-flag.lc, .g-flag .lc {background-position: -51px -1938px;}
.g-flag.lie, .g-flag .lie, .g-flag.li, .g-flag .li {background-position: -51px -1972px;}
.g-flag.lka, .g-flag .lka, .g-flag.lk, .g-flag .lk {background-position: -102px 0;}
.g-flag.lso, .g-flag .lso, .g-flag.ls, .g-flag .ls {background-position: -102px -34px;}
.g-flag.ltu, .g-flag .ltu, .g-flag.lt, .g-flag .lt {background-position: -102px -68px;}
.g-flag.lux, .g-flag .lux, .g-flag.lu, .g-flag .lu {background-position: -102px -102px;}
.g-flag.lva, .g-flag .lva, .g-flag.lv, .g-flag .lv {background-position: -102px -136px;}
.g-flag.mac, .g-flag .mac, .g-flag.mo, .g-flag .mo {background-position: -102px -170px;}
.g-flag.mar, .g-flag .mar, .g-flag.ma, .g-flag .ma {background-position: -102px -204px;}
.g-flag.mco, .g-flag .mco, .g-flag.mc, .g-flag .mc {background-position: -102px -238px;}
.g-flag.mda, .g-flag .mda, .g-flag.md, .g-flag .md {background-position: -102px -272px;}
.g-flag.mdg, .g-flag .mdg, .g-flag.mg, .g-flag .mg {background-position: -102px -306px;}
.g-flag.mdv, .g-flag .mdv, .g-flag.mv, .g-flag .mv {background-position: -102px -340px;}
.g-flag.mex, .g-flag .mex, .g-flag.mx, .g-flag .mx {background-position: -102px -374px;}
.g-flag.mhl, .g-flag .mhl, .g-flag.mh, .g-flag .mh {background-position: -102px -408px;}
.g-flag.mkd, .g-flag .mkd, .g-flag.mk, .g-flag .mk {background-position: -102px -442px;}
.g-flag.mli, .g-flag .mli, .g-flag.ml, .g-flag .ml {background-position: -102px -476px;}
.g-flag.mlt, .g-flag .mlt, .g-flag.mt, .g-flag .mt {background-position: -102px -510px;}
.g-flag.mmr, .g-flag .mmr, .g-flag.mm, .g-flag .mm {background-position: -102px -544px;}
.g-flag.mne, .g-flag .mne, .g-flag.me, .g-flag .me {background-position: -102px -578px;}
.g-flag.mng, .g-flag .mng, .g-flag.mn, .g-flag .mn {background-position: -102px -612px;}
.g-flag.moz, .g-flag .moz, .g-flag.mz, .g-flag .mz {background-position: -102px -646px;}
.g-flag.mrt, .g-flag .mrt, .g-flag.mr, .g-flag .mr {background-position: -102px -680px;}
.g-flag.msr, .g-flag .msr, .g-flag.ms, .g-flag .ms {background-position: -102px -714px;}
.g-flag.mus, .g-flag .mus, .g-flag.mu, .g-flag .mu {background-position: -102px -748px;}
.g-flag.mwi, .g-flag .mwi, .g-flag.mw, .g-flag .mw {background-position: -102px -782px;}
.g-flag.mys, .g-flag .mys, .g-flag.my, .g-flag .my {background-position: -102px -816px;}
.g-flag.nam, .g-flag .nam, .g-flag.na, .g-flag .na {background-position: -102px -850px;}
.g-flag.ner, .g-flag .ner, .g-flag.ne, .g-flag .ne {background-position: -102px -884px;}
.g-flag.nfk, .g-flag .nfk, .g-flag.nf, .g-flag .nf {background-position: -102px -918px;}
.g-flag.nga, .g-flag .nga, .g-flag.ng, .g-flag .ng {background-position: -102px -952px;}
.g-flag.nic, .g-flag .nic, .g-flag.ni, .g-flag .ni {background-position: -102px -986px;}
.g-flag.nir, .g-flag .nir, .g-flag.u4, .g-flag .u4 {background-position: -102px -1020px;}
.g-flag.niu, .g-flag .niu, .g-flag.nu, .g-flag .nu {background-position: -102px -1054px;}
.g-flag.nld, .g-flag .nld, .g-flag.nl, .g-flag .nl {background-position: -102px -1088px;}
.g-flag.nor, .g-flag .nor, .g-flag.no, .g-flag .no {background-position: -102px -1122px;}
.g-flag.npl, .g-flag .npl, .g-flag.np, .g-flag .np {background-position: -102px -1156px;}
.g-flag.nru, .g-flag .nru, .g-flag.nr, .g-flag .nr {background-position: -102px -1190px;}
.g-flag.nzl, .g-flag .nzl, .g-flag.nz, .g-flag .nz {background-position: -102px -1224px;}
.g-flag.omn, .g-flag .omn, .g-flag.om, .g-flag .om {background-position: -102px -1258px;}
.g-flag.pak, .g-flag .pak, .g-flag.pk, .g-flag .pk {background-position: -102px -1292px;}
.g-flag.pan, .g-flag .pan, .g-flag.pa, .g-flag .pa {background-position: -102px -1326px;}
.g-flag.pcn, .g-flag .pcn, .g-flag.pn, .g-flag .pn {background-position: -102px -1360px;}
.g-flag.per, .g-flag .per, .g-flag.pe, .g-flag .pe {background-position: -102px -1394px;}
.g-flag.phl, .g-flag .phl, .g-flag.ph, .g-flag .ph {background-position: -102px -1428px;}
.g-flag.plw, .g-flag .plw, .g-flag.pw, .g-flag .pw {background-position: -102px -1462px;}
.g-flag.png, .g-flag .png, .g-flag.pg, .g-flag .pg {background-position: -102px -1496px;}
.g-flag.pol, .g-flag .pol, .g-flag.pl, .g-flag .pl {background-position: -102px -1530px;}
.g-flag.pri, .g-flag .pri, .g-flag.pr, .g-flag .pr {background-position: -102px -1564px;}
.g-flag.prk, .g-flag .prk, .g-flag.kp, .g-flag .kp {background-position: -102px -1598px;}
.g-flag.prt, .g-flag .prt, .g-flag.pt, .g-flag .pt {background-position: -102px -1632px;}
.g-flag.pry, .g-flag .pry, .g-flag.py, .g-flag .py {background-position: -102px -1666px;}
.g-flag.pse, .g-flag .pse, .g-flag.ps, .g-flag .ps {background-position: -102px -1700px;}
.g-flag.qat, .g-flag .qat, .g-flag.qa, .g-flag .qa {background-position: -102px -1734px;}
.g-flag.rou, .g-flag .rou, .g-flag.ro, .g-flag .ro {background-position: -102px -1768px;}
.g-flag.rus, .g-flag .rus, .g-flag.ru, .g-flag .ru {background-position: -102px -1802px;}
.g-flag.rwa, .g-flag .rwa, .g-flag.rw, .g-flag .rw {background-position: -102px -1836px;}
.g-flag.sau, .g-flag .sau, .g-flag.sa, .g-flag .sa {background-position: -102px -1870px;}
.g-flag.sco, .g-flag .sco, .g-flag.u2, .g-flag .u2 {background-position: -102px -1904px;}
.g-flag.sdn, .g-flag .sdn, .g-flag.sd, .g-flag .sd {background-position: -102px -1938px;}
.g-flag.sen, .g-flag .sen, .g-flag.sn, .g-flag .sn {background-position: -102px -1972px;}
.g-flag.sgp, .g-flag .sgp, .g-flag.sg, .g-flag .sg {background-position: -153px 0;}
.g-flag.shn, .g-flag .shn, .g-flag.sh, .g-flag .sh {background-position: -153px -34px;}
.g-flag.slb, .g-flag .slb, .g-flag.sb, .g-flag .sb {background-position: -153px -68px;}
.g-flag.sle, .g-flag .sle, .g-flag.sl, .g-flag .sl {background-position: -153px -102px;}
.g-flag.slv, .g-flag .slv, .g-flag.sv, .g-flag .sv {background-position: -153px -136px;}
.g-flag.smr, .g-flag .smr, .g-flag.sm, .g-flag .sm {background-position: -153px -170px;}
.g-flag.som, .g-flag .som, .g-flag.so, .g-flag .so {background-position: -153px -204px;}
.g-flag.srb, .g-flag .srb, .g-flag.rs, .g-flag .rs {background-position: -153px -238px;}
.g-flag.stp, .g-flag .stp, .g-flag.st, .g-flag .st {background-position: -153px -272px;}
.g-flag.sur, .g-flag .sur, .g-flag.sr, .g-flag .sr {background-position: -153px -306px;}
.g-flag.svk, .g-flag .svk, .g-flag.sk, .g-flag .sk {background-position: -153px -340px;}
.g-flag.svn, .g-flag .svn, .g-flag.si, .g-flag .si {background-position: -153px -374px;}
.g-flag.swe, .g-flag .swe, .g-flag.se, .g-flag .se {background-position: -153px -408px;}
.g-flag.swz, .g-flag .swz, .g-flag.sz, .g-flag .sz {background-position: -153px -442px;}
.g-flag.syc, .g-flag .syc, .g-flag.sc, .g-flag .sc {background-position: -153px -476px;}
.g-flag.syr, .g-flag .syr, .g-flag.sy, .g-flag .sy {background-position: -153px -510px;}
.g-flag.tcd, .g-flag .tcd, .g-flag.td, .g-flag .td {background-position: -153px -544px;}
.g-flag.tgo, .g-flag .tgo, .g-flag.tg, .g-flag .tg {background-position: -153px -578px;}
.g-flag.tha, .g-flag .tha, .g-flag.th, .g-flag .th {background-position: -153px -612px;}
.g-flag.tjk, .g-flag .tjk, .g-flag.tj, .g-flag .tj {background-position: -153px -646px;}
.g-flag.tkl, .g-flag .tkl, .g-flag.tk, .g-flag .tk {background-position: -153px -680px;}
.g-flag.tkm, .g-flag .tkm, .g-flag.tm, .g-flag .tm {background-position: -153px -714px;}
.g-flag.tls, .g-flag .tls, .g-flag.tl, .g-flag .tl {background-position: -153px -748px;}
.g-flag.ton, .g-flag .ton, .g-flag.to, .g-flag .to {background-position: -153px -782px;}
.g-flag.tto, .g-flag .tto, .g-flag.tt, .g-flag .tt {background-position: -153px -816px;}
.g-flag.tun, .g-flag .tun, .g-flag.tn, .g-flag .tn {background-position: -153px -850px;}
.g-flag.tur, .g-flag .tur, .g-flag.tr, .g-flag .tr {background-position: -153px -884px;}
.g-flag.tuv, .g-flag .tuv, .g-flag.tv, .g-flag .tv {background-position: -153px -918px;}
.g-flag.twn, .g-flag .twn, .g-flag.tw, .g-flag .tw {background-position: -153px -952px;}
.g-flag.tza, .g-flag .tza, .g-flag.tz, .g-flag .tz {background-position: -153px -986px;}
.g-flag.uga, .g-flag .uga, .g-flag.ug, .g-flag .ug {background-position: -153px -1020px;}
.g-flag.ukr, .g-flag .ukr, .g-flag.ua, .g-flag .ua {background-position: -153px -1054px;}
.g-flag.ury, .g-flag .ury, .g-flag.uy, .g-flag .uy {background-position: -153px -1088px;}
.g-flag.usa, .g-flag .usa, .g-flag.us, .g-flag .us {background-position: -153px -1122px;}
.g-flag.uzb, .g-flag .uzb, .g-flag.uz, .g-flag .uz {background-position: -153px -1156px;}
.g-flag.vat, .g-flag .vat, .g-flag.va, .g-flag .va {background-position: -153px -1190px;}
.g-flag.vct, .g-flag .vct, .g-flag.vc, .g-flag .vc {background-position: -153px -1224px;}
.g-flag.ven, .g-flag .ven, .g-flag.ve, .g-flag .ve {background-position: -153px -1258px;}
.g-flag.vgb, .g-flag .vgb, .g-flag.vg, .g-flag .vg {background-position: -153px -1292px;}
.g-flag.vir, .g-flag .vir, .g-flag.vi, .g-flag .vi {background-position: -153px -1326px;}
.g-flag.vnm, .g-flag .vnm, .g-flag.vn, .g-flag .vn {background-position: -153px -1360px;}
.g-flag.vut, .g-flag .vut, .g-flag.vu, .g-flag .vu {background-position: -153px -1394px;}
.g-flag.wal, .g-flag .wal, .g-flag.u3, .g-flag .u3 {background-position: -153px -1428px;}
.g-flag.wsm, .g-flag .wsm, .g-flag.ws, .g-flag .ws {background-position: -153px -1462px;}
.g-flag.yem, .g-flag .yem, .g-flag.ye, .g-flag .ye {background-position: -153px -1496px;}
.g-flag.zaf, .g-flag .zaf, .g-flag.za, .g-flag .za {background-position: -153px -1530px;}
.g-flag.zmb, .g-flag .zmb, .g-flag.zm, .g-flag .zm {background-position: -153px -1564px;}
.g-flag.zwe, .g-flag .zwe, .g-flag.zw, .g-flag .zw {background-position: -153px -1598px;}
