
body
{
	background-color:White;
    background:none;
    font:inherit;
    font-style:italic;
    font-family:Verdana;
    font-size:large;
    text-align:center;
    text-decoration:none;
    vertical-align:middle;
    visibility:visible;
    word-spacing:inherit;
    color:black;
 }
